extends layout.pug

block title
  title Profile

block content
  h1 Profile Page
  p Username: #{user.username}
  p E-mail: #{user.email}
  p Name: #{user.profile.firstName} #{user.profile.lastName}
  p Location: #{user.profile.location}
  p Website: #{user.profile.website}
  p Bio: #{user.profile.bio}

  br

  a(href='/profile/edit') Edit Profile
  br
  a(href='/') Back
