extends layout

block content
  h1 Edit Profile
  form(id='profile-edit-form', action='/profile/edit', method='post')
    p Account Information
    input(type='text', name='username', placeholder=user.username || 'Username')
    br
    input(type='password',name='password', placeholder='Password')
    br
    //- input(type='password',name='password-confirmation', placeholder='Confirm Password')
    //- br
    input(type='email', name='email', placeholder=user.email || 'E-mail')

    br
    br

    p Avatar
    input(type='url', name='picture', placeholder=user.profile.picture || 'Picture URL')

    br
    br

    p Personal Information
    input(type='text', name='firstName', placeholder=user.profile.firstName || "First Name")
    br
    input(type='text', name='lastName', placeholder=user.profile.lastName || "Last Name")
    br
    input(type='text', name='location', placeholder=user.profile.location || 'Location')
    br
    input(type='text', name='website', placeholder=user.profile.website || 'Website')
    br
    textarea(name='bio', placeholder=user.profile.bio || 'Bio')
    //- Removing for now
      br
      select(name='gender')
        option(value='') Select a Gender
        option(value='female') Female
        option(value='male') Male
    br
    br
    br
    button(type='submit') Save Changes
    br
    br
    a(href='/profile') Back

    div(id='login-errors')
      h3 errors
      p(id='items')
